<h1>Hey Jeff!</h1>
	<h2>(and Talyn and Jenna, because Jeff is probably gonna show you guys.)</h2>

<h3>Guess what the coolest thing is that happened to me today?</h3>
<p>My apple watch is on its way! I'm so excited!</p>
<%= image_tag "so-excited.gif"%>
<p>I can't wait. I'm going to wear it all the time and be like dick tracy.</p>

<h3>...in other news</h3>
	<p>sorry that mark singh is being a jerk again. pretty much every time i hear a story about that guy i'm like...</p>

<p>i love you!</p>