<h1>Welcome to Stephen's Spy.org</h1>
	<h2>This is where all the best spy stuff is on the internet</h2>
<%= image_tag "james-bond.jpg"%>

<h3>i want to train you on this website</h3>
	<p>This training starts on august 2 and it is in dallas.</p>
		<ul>
			<li>how to use a grappling hook</li>
			<li>how to crawl correctly</li>
		</ul>

