<h1>Hey Jeff guess what...</h1>

<p>
  I totally made a website!
</p>
<%= image_tag "leslie-knope.gif"%>
<p>aren't you proud of me?</p>
<p>this is the part where you text me to say yes, you're proud of me.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/41l7aI53tfo?list=PLVC3K7IYPimWS-hXQzqVovgI_lCgBmD6D" frameborder="0" allowfullscreen></iframe>
<p>i love you!</p>>