<h1>Welcome to Thomas' Train Website</h1>
	<h2>These are some of my favorite trains and train facts.</h2>
<%= image_tag "thomas-train.jpg"%>

<h3>here's thomas the train engine</h3>
	<p>I like thomas and his friends. I like when the track was blocked and thomas went into the blocking track.</p>
	<p>When Thomas blows his whistle it makes steam. In this picture there are lots of passengers waiting to board the train.</p>

<%= image_tag "big-train.jpg"%>
<h3>This is another train</h3>
<p>This train is very big. It is black and has large tinders. It even has steam coming out of the top! Trains run on coal and water. Except for diesel engine trains, which run on diesel fuel.</p>

<%= image_tag "diesel-train.jpg"%>
<h3>Here is a diesel train</h3>
<p>This train has no whistle but it does have a horn. It has a small funnel but big wheels. At the front you can see the train's buffers. It has a short boiler. It has a black boiler and a green boiler. It makes nasty black smoke out of its short funnel. It has red-orange pistons on the wheels. It runs on diesel fuel.</p>
