<h1>Hey Jeff guess what...</h1>

<p>
  I totally made a website!
</p>
<%= image_tag "dancing-robot.gif"%>
<p>aren't you proud of me?</p>
<p>this is the part where you text me to say yes, you're proud of me.</p>

